.wrong_answer {
    background-color: #ea9999 !important;
    border: 2px solid #e45d5d;
}

.correct_answer {
    background-color: #b6d7a8 !important;
    border: 2px solid #7acc58;
}

.timeLineTime {
    font-size: 10px;
    line-height: 19px;
    color: #010101;
    text-align: right;
    background-color: #000;
    border-radius: 15px;
    padding: 0 10px;
    color: #fff;
}

.article-live-blog {
    display: block;
    width: calc(100% - 115px);
    box-shadow: 0 0 10px #e8e8e8;
    border-radius: 15px;
    position: relative;
    margin: 0 0 16px 100px;
}

.article-live-blog-list {
    display: block;
    clear: both;
    padding: 25px 25px 0 25px;
    position: relative;
    border-bottom: 1px solid #f0efef;
}

.article-live-blog-list:after {
    content: " ";
    position: absolute;
    top: 33px;
    left: -5px;
    width: 9px;
    height: 9px;
    background-color: #ec1d25;
    border-radius: 50%;
    outline: 5px solid rgba(236, 29, 37, 0.1);
}

.article-live-blog-time {
    background-repeat: no-repeat;
    background-position: 3px;
    background-size: 12px 12px;
    font-size: 11px;
    line-height: 16px;
    color: #010101;
    display: block;
    position: absolute;
    left: -76px;
    top: 30px;
    text-align: right;
}

.article-live-blog-time small {
    color: #da251d;
    font-size: 10px;
    display: block;
}

.liveBlog-txt {
    color: #da251d;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 0.25rem;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    height: 25px;
    width: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

.liveBlink {
    background-color: #da251d;
    height: 11px;
    width: 11px;
    display: inline-block;
    line-height: 0px;
    left: 0;
    top: 11px;
}

.liveBlink:before {
    content: "";
    height: 4px;
    width: 4px;
    left: 5px;
    top: 5px;
    background-color: transparent;
    box-shadow: 0 0 0 4px #da251d;
    animation: active 2s linear infinite;
}

.liveBlink,
.liveBlink:before {
    border-radius: 50%;
    position: absolute;
}

@keyframes active {
    0% {
        transform: scale(0.1);
        opacity: 1;
    }

    70% {
        transform: scale(2.5);
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

.liveblog-main-conatier {
    display: flex;
    align-items: center;
    color: #da251d;
    font-size: 16px;
    font-weight: 700;
}

.BigTitle_bigTitle__XaFRd {
    display: flex;
    align-items: center;
    /* width: 100%; */
    margin-bottom: 30px;
    background-color: #da251d;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px #b4b4b4;
}

.BigTitle_bigTitleswiper__dtUew {
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.BigTitle_bigTitle__title__rZp9D {
    padding: 15px 30px;
    margin-right: 10px;
    border-radius: 30px;
    flex: 0 0 auto;
    color: #fff;
    position: relative;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #000;
}

.BigTitle_bigTitle__title__rZp9D a,
a:hover {
    /* color: #fff !important; */
    background-size: 0 0;
}

.BigTitle_bigTitle__slider__ybWF3 {
    padding-right: 10px;
    flex: 1 1;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
}

.ds-preview {
    border: 2px solid #A5B3DB;
    width: 100%;
    padding: 1rem;
    word-break: break-word;
}

.ds-preview .ds-caption {
    border: 2px solid #A5B3DB;
    padding: 1rem;
    margin-top: 20px;
    min-height: 18px;
}

.ds-preview p {
    margin: 0;
}